*{

	margin: 0px;
	padding: 0px;

}





.img{

	background-image: photo5.jpg;
	height: 100vh;
	width: 50px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 20%;

}

.color{

	color:blue;
	text-align: center;
	text-size-adjust: 10px;
}